body {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  background-color: #1e1e1e;
}

.navbar {
  padding: 57px 0px 0px 0px;
}

.navbar-block {
  position: relative;
  margin-bottom: 15px;
}

.purple-ball {
  position: absolute;
  left: 62%;
  top: -69px;

  width: 60px;
  height: 60px;

  background: radial-gradient(
    64% 64% at 27.25% 26.5%,
    rgba(236, 208, 255, 0.64) 0%,
    rgba(161, 93, 207, 0.24) 59.67%,
    rgba(118, 49, 164, 0.208) 78.59%,
    rgba(86, 24, 128, 0.232) 100%
  );
  box-shadow: 3px 6px 27px -10px rgba(177, 118, 217, 0.25);
  filter: blur(5px);
  backdrop-filter: blur(2px);
}

.purple-block {
  position: absolute;
  height: 259px;
  width: 259px;
  top: -207px;
  left: 400px;
  opacity: 0.2;
  background: #833ab4;
  filter: blur(196px);
  box-shadow: 0px 0px 300px 30px #833ab4;
}

.container {
  max-width: 85%;
  margin: auto;
}

.logo {
  text-decoration: none;
  margin-right: 50px;
  display: flex;
  align-items: end;
  justify-content: flex-start;
}

.navbar-block {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
}

.logo-image {
  height: 24px;
  width: 35px;
  display: block;
  margin-right: 6px;
}

.name {
  height: 14px;
  width: 95px;
  margin-right: 0px;
}

.navbar-items__links {
  margin-right: 30px;
  text-decoration: none;
  color: #e4e5ea;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

.navbar-items__links:last-child {
  margin-right: 40px;
}

.navbar-support-items {
  text-decoration: none;
}

.number {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: right;
  color: #e4e5ea;
}

.navbar-support-items__image {
  height: 13.98869800567627px;
  width: 16.679691314697266px;
}

.navbar-support-items {
  margin-right: 33px;
}

.navbar-support-items:last-child {
  margin: 0px;
}

.breadcrumb {
  margin-bottom: 94px;
  position: relative;
}

.breadcrumb-description {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  line-height: 12px;
  color: #e4e5ea;
  font-family: "Montserrat", sans-serif;
}

.red-ball {
  position: absolute;
  left: 38%;
  top: -3px;
  height: 83px;
  width: 83px;
}

.hero-container {
  display: flex;
  justify-content: space-between;
}

.hero-money-text {
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 58px;
  color: #e4e5ea;
  margin-bottom: 0px;
  margin-top: 0px;
}

.hero-with {
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  background-color: #e4e5ea;
  background-image: linear-gradient(92deg, #fcb045 27.14%, #ff3f78 121.36%);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 0px;
  margin-bottom: 30px;
}

.hero-control-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #e4e5ea;
  margin-top: 0px;
}

.hero-consultation {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #e4e5ea;
  text-align: end;
  margin-bottom: 40px;
}

.hero-consultation__gradient {
  background-color: #e4e5ea;
  background-image: linear-gradient(92deg, #fcb045 27.14%, #ff3f78 121.36%);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* -moz-box-shadow:0 0 10px #000;
-webkit-box-shadow:0 0 10px #000; */

.hero-description {
  display: grid;
  grid-template-columns: repeat(2, minmax(100px, 2fr));
  grid-template-rows: repeat(2, minmax(100px, 2fr));
  grid-column-gap: 30px;
  grid-row-gap: 20px;
  margin-bottom: 60px;
}

.hero-description__block {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.hero-description__main-text {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: right;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #e4e5ea;
  text-align: end;
  margin-bottom: 6px;
  list-style-type: none;
}

.hero-description__sub-text {
  font-family: "Montserrat";
  color: #e4e5ea;
  text-align: end;
  margin: 0px;
  font-size: 16px;
}

.hero-button {
  color: #e4e5ea;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  background-color: #4077f3;
  width: 262px;
  height: 61px;
  border: none;
  margin-bottom: 148px;
}

.hero-block__one {
  position: relative;
}

.hero-block__two {
  position: relative;
  text-align: end;
}

.red-light {
  position: absolute;
  width: 311px;
  height: 311px;
  left: -191px;
  top: 38px;
  background: #961a1a;
  opacity: 0.2;
  filter: blur(196px);
  box-shadow: 0px 0px 59px 87px #961a1a;
}

.red-ball__small {
  position: absolute;
  right: 400px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
}

.footer-item {
  margin-bottom: 33px;
}

.footer-item__name {
  font-weight: 700;
  font-style: normal;
  line-height: 17px;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #656566;
  margin-bottom: 20px;
}

.footer-item__link {
  font-weight: 400;
  font-style: normal;
  line-height: 19px;
  color: #e4e5ea;
  font-size: 16px;
  text-decoration: none;
  display: block;
  margin-bottom: 10px;
}

.none-header {
  display: flex;
  align-self: flex-end;
}

.footer-item__image {
  margin-right: 13px;
  margin-bottom: 22px;
}

.footer-item__link-number {
  font-weight: 400;
  font-style: normal;
  line-height: 19px;
  color: #e4e5ea;
  font-size: 16px;
  text-decoration: none;
  display: block;
  margin-bottom: 23px;
}

.contact {
  text-align: end;
}

.breadcrumb-description {
  display: block;
}

.bottom {
  text-align: end;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #e4e5ea;
  font-family: "Montserrat";
  margin-bottom: 0px;
}

.bottom-line {
  text-decoration: underline;
  text-align: end;
}

@media (max-width: 1250px) {
  .navbar-support {
    display: none;
  }
  .hero-money-text {
    font-size: 30px;
  }
  .hero-with {
    font-size: 37px;
    margin-bottom: 20px;
  }
  .hero-control-text {
    font-size: 14px;
  }
  .hero-consultation {
    margin-bottom: 20px;
    font-size: 14px;
  }
  .hero-description {
    grid-column-gap: 20px;
    grid-row-gap: 10px;
    grid-template-rows: repeat(2, minmax(80px, 2fr));
    grid-template-columns: repeat(2, minmax(80px, 2fr));
    margin-bottom: 20px;
  }
  .hero-description__main-text {
    font-size: 14px;
    margin: 0px;
    margin-bottom: 5px;
  }
  .hero-description__sub-text {
    font-size: 11px;
  }
  .hero-button {
    font-size: 12px;
    background-color: #4077f3;
    text-align: center;
    height: 41px;
    width: 192px;
    margin-bottom: 90px;
  }

  .footer-container {
    display: grid;
    grid-column-gap: 20px;
    grid-row-gap: 10px;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
  }
  .footer-item {
    align-self: flex-start;
    justify-content: flex-start;
  }
  .contact {
    text-align: start;
  }
  .bottom {
    text-align: start;
  }
  .bottom-line {
    text-align: start;
  }
}

@media (max-width: 960px) {
  .navbar {
    padding: 12px 0px 0px 0px;
  }
  .navbar-items__links {
    margin-right: 20px;
    color: #e4e5ea;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    text-decoration: none;
  }
  .navbar-items__links:last-child {
    margin-right: 0px;
  }
}

@media (max-width: 740px) {
  .navbar {
    padding: 6px 0px 0px 0px;
  }
  .logo-image {
    width: 29px;
    display: block;
    margin-right: 4px;
    height: 19px;
  }
  .name {
    margin-right: 0px;
  }

  .navbar-block {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
  }
  .navbar-block {
    margin-bottom: 7px;
  }
  .navbar-items__links {
    margin-right: 12px;
    color: #e4e5ea;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    text-decoration: none;
  }
  .navbar-items__links:last-child {
    margin-right: 0px;
  }
  .breadcrumb-description {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 300;
    font-size: 6px;
    color: #e4e5ea;
    font-family: "Montserrat", sans-serif;
  }
  .hero-money-text {
    font-size: 17px;
    margin-bottom: 0px;
  }
  .hero-with {
    font-size: 23px;
    margin-bottom: 10px;
    margin: 0px;
  }
  .hero-control-text {
    font-size: 7px;
  }
  br {
    display: none;
  }
  .hero-consultation {
    margin-bottom: 10px;
    font-size: 9px;
  }
  .hero-description__main-text {
    font-size: 11px;
    margin: 0px;
    margin-bottom: 1px;
  }
  .hero-description__sub-text {
    font-size: 7px;
  }
  .hero-description {
    grid-column-gap: 15px;
    grid-row-gap: 0px;
    grid-template-rows: repeat(2, minmax(47px, 2fr));
    grid-template-columns: repeat(2, minmax(40px, 2fr));
    margin-bottom: 15px;
  }
  .hero-button {
    font-size: 7px;
    background-color: #4077f3;
    text-align: center;
    height: 31px;
    width: 132px;
    margin-bottom: 70px;
  }
  .footer-item__name {
    line-height: 0px;
    font-size: 11px;
    margin-bottom: 10px;
  }
  .footer-item__link {
    font-weight: 400;
    line-height: 14px;
    font-size: 8px;
    margin-bottom: 4px;
  }
  .footer-item__link-number {
    line-height: 14px;
    font-size: 8px;
    margin-bottom: 7px;
  }
  .footer-item__image {
    width: 12px;
    margin-right: 12px;
    height: 12px;
    margin-bottom: 2px;
  }
  .footer-item {
    margin-bottom: 16px;
  }
}

@media (max-width: 590px) {
  .container {
    width: 90%;
    margin: auto;
  }
  .top {
    display: none;
  }
  .navbar-block {
    margin-bottom: 30px;
  }
  .hero-container {
    flex-direction: column;
    align-items: flex-start;
  }
  .hero-description__sub-text {
    display: none;
  }
  .hero-description__main-text {
    text-align: start;
  }
  .hero-description__block {
    align-items: flex-start;
  }
  .hero-description {
    grid-column-gap: 15px;
    grid-row-gap: 0px;
    grid-template-rows: repeat(2, minmax(20px, 2fr));
    grid-template-columns: repeat(2, minmax(30px, 2fr));
    margin-bottom: 15px;
  }
  .hero-block__two {
    text-align: start;
  }
  .hero-consultation {
    text-align: center;
  }
  .red-ball {
    display: none;
  }
  .navbar-items__links:last-child {
    display: none;
  }
}

@media (max-width: 390px) {
  .navbar-logo-block {
    display: none;
  }
  .navbar-items__links {
    margin-right: 14px;
    color: #e4e5ea;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    text-decoration: none;
  }

  .navbar-block {
    display: flex;
    justify-content: center;
  }
  .navbar {
    padding: 13px 0px 13px 0px;
    background-color: #000;
    width: 100%;
  }
  .container {
    width: 99%;
    margin: auto;
  }
  .navbar-block {
    margin-bottom: 0px;
  }
  .navbar-items__links:last-child {
    margin-right: 0px;
  }
  .hero-container {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 40px;
  }
  .hero-money-text {
    font-size: 36px;
  }
  .hero-with {
    font-size: 36px;
  }
  .hero-control-text {
    font-size: 18px;
    margin-bottom: 45px;
  }
  .hero-consultation {
    font-size: 18px;
    text-align: start;
    margin-bottom: 20px;
  }
  br {
    display: block;
  }
  .hero-button {
    display: none;
  }
  .hero-description__main-text {
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 0px;
  }
  .hero-description__main-text::before {
    display: inline-block;
    font-size: 1em;
    content: "ä¸€";
    margin-right: 5px;
    background-color: #e4e5ea;
    background-image: linear-gradient(92deg, #fcb045 27.14%, #ff3f78 121.36%);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .hero-description {
    display: grid;
    grid-template-areas:
      "skype vidgets"
      "dashboard month";
    grid-column-gap: 8px;
    grid-template-columns: auto;
    grid-template-rows: auto;
    margin-bottom: 15px;
    grid-row-gap: 8px;
    margin-bottom: 59px;
  }
  .vidgets {
    grid-area: vidgets;
  }
  .dashboard {
    grid-area: dashboard;
  }
  .skype {
    grid-area: skype;
  }
  .month {
    grid-area: month;
  }
  .footer {
    background-color: #000;
    padding-top: 40px;
  }
  .bottom {
    background-color: #000;
  }
  .footer-container {
    display: grid;
    grid-template-areas:
      "about about"
      "menu case"
      "contact-block contact-block";
    grid-row-gap: 30px;
    grid-template-rows: repeat(2, 0fr);
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 0px;
  }
  .about {
    grid-area: about;
  }
  .menu {
    grid-area: menu;
    align-self: start;
  }
  .case {
    grid-area: case;
    align-self: flex-end;
  }
  .contact-block {
    grid-area: contact-block;
  }
  .footer-item__name {
    margin: 0px;
    margin-bottom: 26px;
    font-size: 12px;
  }
  .footer-item__link {
    font-size: 14px;
    margin-bottom: 10px;
  }
  .footer-item {
    margin-bottom: 0px;
  }
  .bottom-block {
    padding-top: 50px;
    padding-bottom: 60px;
  }
  .bottom {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    font-style: normal;
  }
  .bottom-line {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    font-family: "Montserrat";
  }
  .calculation {
    width: 100px;
    word-wrap: break-word;
  }
  .footer-item__link-number {
    font-size: 16px;
    line-height: 19px;
    font-weight: 500;
    margin-bottom: 12px;
  }
  .footer-item__image {
    width: 20.02px;
    height: 16.79px;
    margin-bottom: 12px;
  }
  .address {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    margin-top: 0px;
  }
  .contact-image {
    margin: 0px;
  }
  .purple-ball {
    top: 301px;
    height: 40px;
    left: 339px;
    width: 40px;
    background: radial-gradient(
      64% 64% at 27.25% 26.5%,
      rgba(236, 208, 255, 0.64) 0%,
      rgba(161, 93, 207, 0.24) 59.67%,
      rgba(118, 49, 164, 0.208) 78.59%,
      rgba(86, 24, 128, 0.232) 100%
    );
    box-shadow: 3px 6px 27px -10px rgba(177, 118, 217, 0.25);
    filter: blur(5px);
    backdrop-filter: blur(2px);
  }
  .purple-block {
    top: 140px;
    left: 243px;
  }
  .red-ball__small {
    top: 154px;
    height: 43px;
    width: 70px;
    width: 65px;
    height: 65px;
    left: -7px;
  }
  .red-light {
    width: 211px;
    height: 210px;
    left: -71px;
    top: 255px;
  }
}
